.selectedApartment {
	cursor: pointer;
	background-color: #0db363 !important;
	transition: all 0.5s ease;
}

.oneFl:hover:not(.selectedApartment) {
	background-color: #dc93ff !important;
}

.twoFl:hover:not(.selectedApartment) {
	background-color: #c1c1c1 !important;
}

.threeFl:hover:not(.selectedApartment) {
	background-color: #1bb2a9 !important;
}

.fourFl:hover:not(.selectedApartment) {
	background-color: #ffa1a1 !important;
}

.fiveFl:hover:not(.selectedApartment) {
	background-color: #bdff69 !important;
}

.sixFl:hover:not(.selectedApartment) {
	background-color: #bdff69 !important;
}
